.body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family:  Arial, Helvetica, sans-serif;

}  

.section {
    position: relative;
    padding-bottom: 80px;
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
    font-weight: lighter;
    
}

.quotes{
    width: 40%;
    font-size: 20px;
    margin-left: 10%;
    margin-top: 100px;
}

.imgquotes{
    display: inline-flex;
}

.quotes img{
    margin-top: 20px;
}


.more{
    position: relative;
    margin-left: 40%;
    margin-top: 20%;
}

.select {
    border-radius: 30px;
    padding: 15px;
    letter-spacing: 4px;
    font-weight: bold;
    color: gray;
}

.section h1{
    font-size: 220px;
    margin:-25px 0;
}

.section h2{
    font-weight: lighter;
}

.gmt {
    font-size: 53px;
    font-weight: lighter;
    margin-left: 20px;
}

@media only screen and (max-width: 450px) {
    .body{
        width: 100%;
        background-size: cover;
    }
    .section{
        display: block;
        margin-top: 80%;
        margin-left: 5%;
    }
    .quotes{
        width: 100%;
        font-size: 20px;
        margin-left: 5%;
        margin-top: 100px;
    }
    .section h1{
        font-size: 160px;
    }
    .greet{
        font-size: 18px;
    }

    .gmt {
        font-size: 25px;
        font-weight: lighter;
        margin-left: 20px;
    }
    .more{
        margin-left: 0%;
    }
    .select {
        border-radius: 35px;
        padding: 10px;
        letter-spacing: 6px;
        font-size: 20px;
    
    }
}

@media only screen and (max-width: 1052px) and (min-width: 451px){
    .body{
        width: 100%;
        background-size: cover;
    }
    .section{
        display: block;
        margin-top: 50%;
    }
    .quotes{
        width: 80%;
        font-size: 26px;
        margin-left: 10%;
        margin-top: 100px;
    }
    .section h1{
        font-size: 160px;
    }
    .greet{
        font-size: 28px;
    }

    .gmt {
        font-size: 43px;
        font-weight: lighter;
        margin-left: 20px;
    }
    .more{
        margin-left: 0px;
    }
    .select {
        border-radius: 35px;
        padding: 25px;
        letter-spacing: 6px;
        font-size: 25px;
    
    }
}
